[Unit]
Description=ledProject REST API for web dashboard
After=network.target

[Service]
User=magodi12
# sudo adduser pi gpio
Group=gpio
EnvironmentFile=/etc/default/ledbox
WorkingDirectory=/home/magodi12/ledProject
ExecStart=/usr/bin/node /home/magodi12/ledProject/scripts/gpio-watcher.js
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target