[Unit]
Description=LED Video Sync Node Wrapper
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/node /home/magodi12/LedBox/ledProject/scripts/ledSyncVideo-wrapper.js
WorkingDirectory=/home/magodi12/LedBox/ledProject
Restart=no
# Give the wrapper 5 seconds to write the status file before force-killing it
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target