[Unit]
Description=Service that runs calibrate, that allows the status of the program to be tracked.
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/node /home/magodi12/LedBox/ledProject/scripts/calibrate_wrapper.js
EnvironmentFile=/etc/default/ledbox
WorkingDirectory=/home/magodi12/LedBox/ledProject
Restart=no
# Give the wrapper 5 seconds to write the status file before force-killing it
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
