[Unit]
Description=LedBox API
After=sound.target

[Service]
Type=simple
User=root

# Allow the script to run sudo systemctl without a password prompt
WorkingDirectory=/home/magodi12/LedBox/ledProject
ExecStart=/home/magodi12/LedBox/ledProject/ledbox-api
EnvironmentFile=/etc/default/ledbox
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target